In [2]:
import pandas as pd
import numpy as np

#%% Importar datos
data  = pd.read_excel('C:/Users/if686748/Downloads/titanic.xls')

#%% 
tabla = pd.crosstab(index=data['survived'],columns=data['pclass'],margins=True)

#%%
#tabla = pd.DataFrame([[3,75,449,50,577],[13,90,461,52,616],[16,165,910,102,1193]])

In [9]:
tabla.head()

pclass      1    2    3   All
survived
0         123  158  528   809
1         200  119  181   500
All       323  277  709  1309

In [3]:
#%% Aplicar logaritmos y medias de logaritmos
tab_log = np.log(tabla.iloc[0:-1,0:-1])
tab_log.loc['media_c'] = tab_log.mean(axis=0)
tab_log['media_f'] = tab_log.mean(axis=1)

In [10]:
tab_log

pclass           1         2         3   media_f
survived
0         4.812184  5.062595  6.269096  5.381292
1         5.298317  4.779123  5.198497  5.091979
media_c   5.055251  4.920859  5.733797  5.236636

In [4]:
#%% Calcular mu, mu1, mu2
mu = tab_log.iloc[-1,-1]
mu1 = tab_log.iloc[:,-1]-mu
mu2 = tab_log.iloc[-1,:]-mu

In [5]:
#%% Tratar de recuperar la tabla de logaritmos
tab_rec = np.ones(np.shape(tab_log))*mu
for k in np.arange(np.shape(tab_log)[0]):
    tab_rec[k,:] = tab_rec[k,:]+mu2

for k in np.arange(np.shape(tab_log)[1]):
    tab_rec[:,k] = tab_rec[:,k]+mu1
tab_rec = tab_rec[0:-1,0:-1]

In [11]:
tab_rec

array([[5.19990716, 5.06551556, 5.87845295],
       [4.91059456, 4.77620297, 5.58914036]])

In [6]:
#%% Calcular tabla auxiliar (mu12)
tab_mu12 = pd.DataFrame(np.transpose(np.transpose(tab_log-mu-mu2)-mu1))
tab_mu12.iloc[:,-1] = mu1
tab_mu12.iloc[-1,:] = mu2

In [12]:
tab_mu12

pclass           1         2         3   media_f
survived
0        -0.387723 -0.002921  0.390643  0.144656
1         0.387723  0.002921 -0.390643 -0.144656
media_c  -0.181385 -0.315776  0.497161  0.000000

In [7]:
#%% Tabla recuperada modificada (mu+mu1+mu2+mu12)
tab_rec_mod = tab_rec+tab_mu12.iloc[0:-1,0:-1]

In [8]:
tab_rec_mod

pclass           1         2         3
survived
0         4.812184  5.062595  6.269096
1         5.298317  4.779123  5.198497